.body__fundo{
    background-image:  url(../../../img/patas.svg),
    url(../../../img/formaCabecalho.svg),
    url(../../../img/vetor-conteudo-cadastro.svg);

    background-repeat: no-repeat;
    background-position: top right, top left, left bottom 28%;
    background-color: var(--branco);
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    font-size: 16px;
    font-family: var(--fonte-pop);
}

@media (min-width: 768px) {
    .body__fundo{
        background-image:  url(../../../img/background-responsivo/patasTablet.svg),
        url(../../../img/background-responsivo/formaCabecalhoTab-Desk.svg),
        url(../../../img/background-responsivo/formaConteudoTab-Desk.svg);
        background-position: top right, top left, right bottom 28%;
    }
}

@media (min-width: 1280px) {
    .body__fundo{
        background-position: top right, top left, right center;
    }
}