@import url('https://fonts.googleapis.com/css2?family=Pacifico&display=swap');

body{
    background-color: var(--azul);
    background-image: 
    url(../../../img/formaCabecalho.svg), 
    url(../../../img/formaConteudo.svg), 
    url(../../../img/ilustração-conteudo.svg);

    background-position:top left, 
    right center,
    bottom 1.5rem center ;
    background-repeat: no-repeat;
    
    display: flex;
    flex-direction: column;
    font-family: var(--fonte-pop);
    min-width: 100vw;
    min-height: 100vh;
}

.fonte__bolada {  
    font-family: 'Pacifico', cursive !important;
 
}

.conteudo__principal{
    color: var(--branco);
    
    margin-top: 1rem;

    padding: 0 6rem;
    text-align: center  ;
    flex-grow: 1;


}

.conteudo__logo{
    display: block;
    margin: 2rem auto;
    height: 46px;
}

.conteudo__titulo{
    font-size: 26px;
    font-family: var(--fonte-ibm);

}

.conteudo__paragrafo{
    line-height: 24px;
    margin: 1.5rem 0;
}

@media (min-width: 768px) {
    body{
        background-image: 
        url(../../../img/background-responsivo/formaCabecalhoTab-Desk.svg), 
        url(../../../img/background-responsivo/formaConteudoTab-Desk.svg), 
        url(../../../img/background-responsivo/ilustracaoConteudoTab-Desk.svg) ;
    }
}

@media (min-width: 1280px) {
    .conteudo__logo{
        margin: 0 auto;
    }

    body{
        background-position:top left, 
        right center,
        bottom center ;
    }
}