:root{
    --azul: #3772FF;
    --verde-claro: #36D6AD;
    --branco: #FFFFFF;
    --salmao: #FC7071;
    --salmao-claro: #FF9D9E;
    --fonte-pop: 'Poppins', sans-serif;
    --fonte-ibm:    'IBM Plex Sans', sans-serif;
}
