.botao{
    background-color: var(--salmao);

    border: none;
    border-radius: 5px;

    color: var(--branco);
    
    display: block;
    
    font-family: 'Poppins', sans-serif;
    

    height: 40px;
    
    
    margin: 1rem auto;
    
    width: 180px;

}

.botao--formulario{
    width: 148px;
}


.botao a{
    color: var(--branco);
    text-align: center;
}
.botao:hover{
    background-color: var(--salmao-claro);
}