body{
    background-image:  url(../img/patas.svg), url(../img/formaCabecalho.svg);
    background-repeat: no-repeat;
    background-position: top right, top left;
    background-color: var(--branco);

}

.conteudo__principal{
    background-image: url(../img/vetor-conteudo-cadastro.svg);;
    background-repeat: no-repeat;
    background-position: left bottom ;
    background-position-y: 233px;

    height: calc(100vh - 160px);

    margin-top: 5rem;

    padding: 1.5rem;



}

.conteudo__texto{
    text-align: center;
    line-height: 21px;
    color: var(--azul);
    margin-bottom: 1.25rem;
}

.texto__logo{
    width: 142.54px;
    height: 34.36px ;
    margin-bottom: 1.5rem;
}   
.texto__paragrafo{
    padding-bottom: 0.5rem;
}

