body{
    background-color: var(--azul);

    background-image: url(../img/formaCabecalho.svg), 
    url(../img/formaConteudo.svg), 
    url(../img/ilustração-conteudo.svg) ;

    background-position:top left, 
    right center,
    bottom 4.5rem center ;
    background-repeat: no-repeat;
    
    display: flex;
    flex-direction: column;
    font-family: var(--fonte-pop);
    min-width: 100vw;
    min-height: 100vh;
}

.conteudo__principal{
    color: var(--branco);
    
    margin-top: 1rem;

    padding: 0 6rem;
    text-align: center  ;
    flex-grow: 1;


}

.conteudo__logo{
    display: block;
    margin: 0 auto;
    height: 46px;
    padding: 3rem 0 1.5rem 0;
}

.conteudo__titulo{
    font-size: 26px;
    font-family: var(--fonte-ibm);

}

.conteudo__paragrafo{
    line-height: 24px;
    margin: 1.5rem 0;
}

