.conteudo__principal{
    height: 100vh;

}

.conteudo__chamada{
    padding: 3.5rem;

}

.conteudo__logo{
    display: block;
    margin: 0rem auto ;
    width: 186.67px;
}

.conteudo__titulo{
    display: block;

    text-align: center;
    
    font-family: 'IBM Plex Sans', sans-serif;
    font-size: 26px;
    font-weight: 500;

    margin-top: 1.5rem;
    margin-bottom: 1rem;
}

.conteudo__paragrafo{
    text-align: center;
}
