

.cabecalho{
    padding: 3rem;
    z-index: 3;
}
.cabecalho__nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-right: 1rem;
}

.cabecalho__logo{
    display: none;
}
.cabecalho__menu{
    display: flex;
    align-items: center;
    gap: 3.66rem;
    z-index: 2;
}


.icone--user{
    display: none;
}


@media (min-width: 768px) {
    .cabecalho{
        padding: 4.25rem 0 2rem 3rem;
    }

    .cabecalho__menu{
        gap: 4rem;
    }

    .cabecalho__logo{
        display: flex;
        width: 128px;
        height: 31px;
    }
    .icone{
        width: 48px;
        height: 48px;
    }
}

@media (min-width: 1280px) {

    .cabecalho{
        padding: 3rem 0 0 8rem;
    }
    .cabecalho__nav{

        padding-right: 7.875rem ;
    }
    .cabecalho__menu{
        gap: 2rem;
    }
    .cabecalho__logo{
        margin-right: 2rem;
    }
    .icone{
        width: 56px;
        height: 56px;
    }
}