.formulario__texto{
    display: block;
    text-align: center;

    margin-bottom: 0.25rem;
    color: #737380;
}


.formulario__input{
    font-size: 18px;
    align-self: center;

    background-color: #f6f6f6;

    border: none;
    border-radius: 5px;
    box-shadow: 0 2px rgba(0, 0, 0, 0.15);
    display: block;

    height: 40px;
    margin-bottom: 1.5rem;
    width: 100%;

}

.formulario__input::placeholder{
    color: #BCBCBC;
    text-align: center;
}

.input-icon{
    position: relative;
}

.icon{
    position:absolute;
    right: 10px;
    bottom: 12px;
    color: black;
}




/*Formulario Mensagem e perfil*/
.formulario__container{
    margin: 1rem;
    border-radius: 10px;
    padding: 2rem 1rem;
}

.formulario__titulo{
    text-align: center;
    font-size: 21px;
    color: var(--cinza);
    font-weight: 600;
    margin-bottom: 1rem;
}




.formulario__texto--azul{
    color: var(--azul);
    font-weight: 600;
   text-align: start;
}

.text-area{
    margin-top: 0.5rem;
    margin-bottom: 1rem;
    width: 100%;
    resize: none;
    border: none;
    box-shadow: 0 2px rgba(0, 0, 0, 0.15);
    border-radius: 5px;
}
.text-area::placeholder{
    color: #BCBCBC;
    padding: 1rem;
    font-size: 1rem;
}
.input__perfil::placeholder{
    color: var(--cinza);
}

@media (min-width: 768px) {
    .input-icon{
        width: 50%;
        margin: 0 auto 1.5rem auto;

    }

    .formulario__input--tamanho{
        width: 50%;
        margin: 0 auto 1.5rem auto;
    }
    
}

@media (min-width: 1280px) {
    .input-icon{
        width: 30%;


    }

    
}