.bg__imagens{
    background-image: url(../../../img/formaCabecalho.svg);
    background-repeat: no-repeat;
    font-family: var(--fonte-pop);
    position: absolute;
    top: 0;
    left: 0%;
    width: 100%;
    height: 18rem;
    z-index: 2;

}